<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="text-center">
            <button class="btn btn-customcolor btn-add btn-sm" (click)="ajouterContrat()">
               <mat-icon aria-hidden="false">add</mat-icon>
            </button>
         </div>
      </div>
   </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

   <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->

   <!-- Position Column -->
   <ng-container matColumnDef="Lieu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div>{{element.LieuUtilisation}} </div>
         </ng-container>
      </td>
   </ng-container>

   <!-- Name Column -->
   <ng-container matColumnDef="Type d'engin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type d'engin </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div>{{element.TypeEngin}}</div>
         </ng-container>
      </td>
   </ng-container>

   <!-- Weight Column -->
   <ng-container matColumnDef="DureeContrat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duree du contrat </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div>{{element.DureeContrat}}</div>
         </ng-container>
      </td>
   </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="Date de signature Irrijardin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de signature Irrijardin </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div>
               {{element.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}
            </div>
         </ng-container>
      </td>
   </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div><button class="btn btn-transparent"
                  (click)="editForm(element)">
                  <mat-icon aria-hidden="false">edit</mat-icon>
               </button> </div>
         </ng-container>
      </td>
   </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Détails </th>
      <td mat-cell *matCellDef="let element">
         <ng-container>
            <div><button class="btn btn-transparent"
                  (click)="detailsContrat(element.IdContrat)" data-toggle="modal" data-target="#infoModal">
                  <mat-icon aria-hidden="false">visibility</mat-icon>
               </button> </div>
         </ng-container>
      </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
