<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold">Echeancier de facturation matricule n°{{currentEngin.Matricule}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form #formEcheancier="ngForm" (submit)="onSubmitEcheancier(formEcheancier)">
                <input type="hidden" name="IdEcheancier" #IdEcheancier="ngModel"
                    [(ngModel)]="echeancierService.formDataEcheancier.IdEcheancier">
                <input type="hidden" name="IdEngin" #IdEngin="ngModel"
                    [(ngModel)]="echeancierService.formDataEcheancier.IdEngin" class="form-control">
                <div class="form-group">
                    <label for="dateecheancier">Date</label>
                    <input type="date" id="dateecheancier" name="DateEcheancier" #DateEcheancier="ngModel"
                        [(ngModel)]="echeancierService.formDataEcheancier.DateEcheancier" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="montant">Montant</label>
                    <input name="Montant" id="montant" #Montant="ngModel"
                        [(ngModel)]="echeancierService.formDataEcheancier.Montant" class="form-control"
                        placeholder="Montant" required>
                </div>
                <div class="form-row">
                    <button class="form-group col-md-6 btn btn-secondary" mat-button [mat-dialog-close]="true" type="button">Fermer</button>
                    <button class="form-group col-md-6 btn btn-primary" type="submit">Ajouter</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table table-striped text-center table-bordered">
                <thead class="table-irri">
                    <tr>
                        <th>Matricule</th>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Lieu d'utilisation</th>
                        <th>Date de début de contrat</th>
                        <th>Durée du contrat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ech of echeanciersByIdEngin">
                        <td>{{ech.Matricule}}</td>
                        <td>{{ech.DateEcheancier | date:'MM/yyyy' }}</td>
                        <td>{{ech.Montant}} €</td>
                        <td>{{ech.LieuUtilisation}}</td>
                        <td>{{ech.DateDebutContrat | date:'MM/yyyy'}}</td>
                        <td>{{ech.DureeContrat}} mois</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>