<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold">Echeancier de facturation matricule n°{{currentEngin.Matricule}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form #formEcheancier="ngForm" (submit)="onSubmitEcheancier(formEcheancier)">
                <input type="hidden" name="IdEcheancier" #IdEcheancier="ngModel"
                    [(ngModel)]="echeancierService.formDataEcheancier.IdEcheancier">
                <input type="hidden" name="IdEngin" #IdEngin="ngModel"
                    [(ngModel)]="echeancierService.formDataEcheancier.IdEngin" class="form-control">
                <div class="form-group">
                    <label for="dateecheancier">Date</label>
                    <input type="date" id="dateecheancier" name="DateEcheancier" #DateEcheancier="ngModel"
                        [(ngModel)]="echeancierService.formDataEcheancier.DateEcheancier" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="montant">Montant</label>
                    <input name="Montant" id="montant" #Montant="ngModel"
                        [(ngModel)]="echeancierService.formDataEcheancier.Montant" class="form-control"
                        placeholder="Montant" required>
                </div>
                <div class="form-row">
                    <button class="form-group col-md-6 btn btn-secondary" mat-button [mat-dialog-close]="true"
                        type="button">Fermer</button>
                    <button class="form-group col-md-6 btn btn-primary" type="submit">Valider</button>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Matricule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.Matricule}} </div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="DateEcheancier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de l'écheancier </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.DateEcheancier | date:'MM/yyyy'}} </div>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Montant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.Montant}} €</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Lieu d'utilisation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lieu d'utilisation</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            {{element.LieuUtilisation}}</div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="DateDebutContrat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de début de contrat </th>
                    <td mat-cell *matCellDef="let element">
                        <div>{{element.DateDebutContrat | date:'dd/MM/yyyy'}}</div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Durée du contrat">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Durée du contrat </th>
                    <td mat-cell *matCellDef="let element">
                        <div>{{element.DureeContrat}} mois</div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Modifier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-transparent" (click)="populateForm(element)">
                            <mat-icon aria-hidden="false">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>