<h1 class="text-center font-weight-bold">Ajouter / Modifier une VGP  matricule n°{{currentEngin.Matricule}}</h1>
<form #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="IdInterventionVgp" #IdInterventionVgp="ngModel"
        [(ngModel)]="serviceIntervention.formDataInterventionVgps.IdInterventionVgp">
    <div class="form-row">
        <input type="hidden" id="IdEngin" name="IdEngin" #IdEngin="ngModel"
            [(ngModel)]="serviceIntervention.formDataInterventionVgps.IdEngin" class="form-control"
            placeholder="IdEngin">
        <div class="form-group col-md-4">
            <label for="dateintervention">Date de l'intervention</label>
            <input id="dateintervention" type="date" name="DateIntervention" #DateIntervention="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.DateIntervention" class="form-control"
                placeholder="Date de l'intervention">
        </div>
        <div class="form-group col-md-4">
            <label for="raportrecu">Rapport reçu ?</label>
            <select class="form-control" id="raportrecu" name="EstRapportRecu" #EstRapportRecu="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.EstRapportRecu" class="form-control" required>
                <option [ngValue]="" disabled>Rapport reçu ?</option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="EstSatisfaisant">Satisfaisant ?</label>
            <select class="form-control" id="EstSatisfaisant" name="EstSatisfaisant" #EstSatisfaisant="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.EstSatisfaisant" class="form-control"
                required>
                <option value="" disabled>Intervention satisfaisante ?</option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="PrestataireVerification">Prestataire</label>
            <select id="PrestataireVerification" name="PrestataireVerification" #PrestataireVerification="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.PrestataireVerification" class="form-control"
                placeholder="Prestataire de vérification">
                <option value="" disabled>Choisissez un prestataire</option>
                <option value="Bureau Veritas">Bureau Veritas</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="EstSuite">Devis d'intervention ?</label>
            <select id="EstSuite" name="EstSuite" #EstSuite="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.EstSuite" class="form-control"
                placeholder="Suite ?">
                <option value="" disabled>Devis d'intervention ?</option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <div>
                <label for="commentaire">Commentaires</label>
                <textarea id="commentaire" name="Commentaire" #Commentaire="ngModel"
                    [(ngModel)]="serviceIntervention.formDataInterventionVgps.Commentaire" class="form-control"
                    placeholder="Commentaires"></textarea>
            </div>
        </div>
    </div>
    <h1 class="text-center font-weight-bold">Facture de l'intervention</h1>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="DateFacture">Date de la facture</label>
            <input id="DateFacture" type="date" name="DateFacture" #DateFacture="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.DateFacture" class="form-control"
                placeholder="Date de la facture">
        </div>
        <div class="form-group col-md-4">
            <label for="MontantFacture">Montant de la facture</label>
            <input id="MontantFacture" name="MontantFacture" #MontantFacture="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.MontantFacture" class="form-control"
                placeholder="Montant de la facture">
        </div>
        <div class="form-group col-md-4">
            <label for="DateValidationFacture">Date de validation de facture</label>
            <input id="DateValidationFacture" type="date" name="DateValidationFacture" #DateValidationFacture="ngModel"
                [(ngModel)]="serviceIntervention.formDataInterventionVgps.DateValidationFacture" class="form-control"
                placeholder="Date de validation de facture">
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" mat-dialog-close style="margin-right: 0.5em;">Valider</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()">Fermer</button>
    </div>
</form>