<table class="table table-striped">
  <thead>
    <tr>
      <th>Matricule</th>
      <th>NumSerie</th>
      <th>Marque</th>
      <th>Contrat</th>
      <th>Type</th>
      <th>Batterie</th>
      <th>Modifier</th>
      <th>Détails</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let engin of enginservice.enginsListe; index as i">
      <td>{{engin.Matricule}}</td>
      <td>{{engin.NumSerie}}</td>
      <td>{{engin.Marque}}</td>
      <td>{{engin.TypeContrat}}</td>
      <td>{{engin.TypeEngin}}</td>
      <td>{{engin.TypeBatterie}}</td>
      <td><button class="btn btn-transparent" (click)="populateForm(engin)"><mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button></td>
      <td><button class="btn btn-transparent" (click)="detailsInfo(engin.IdEngin)" data-toggle="modal" data-target="#infoModal"><mat-icon aria-hidden="false" aria-label="Example home icon">view_headline</mat-icon></button></td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="col-12 modal-title text-center" id="exampleModalLabel">Info de l'engin - <span class="font-weight-bold">{{currentEnginInfo.Matricule}}</span></h2>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <span class="font-weight-bold ">Date entrée : </span>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}
              </div>
              <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                <div class="col-md-6">
                  <span class="font-weight-bold ">Déclaré rentré : </span>Oui
                </div>
              </ng-container>
              <ng-template #second>
                <div class="col-md-6">
                  <span class="font-weight-bold ">Déclaré rentré : </span>Non
                </div>
              </ng-template>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="font-weight-bold ">Date sortie : </span>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}
              </div>
              <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                <div class="col-md-6">
                  <span class="font-weight-bold ">Déclaré sortie : </span>Oui
                </div>
              </ng-container>
              <ng-template #third>
                <div class="col-md-6">
                  <span class="font-weight-bold ">Déclaré sortie : </span>Non
                </div>
              </ng-template>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="font-weight-bold ">Date de circulation : </span>{{currentEnginInfo.DateCirculation | date:'dd/MM/yyyy'}}
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>