<table class="table table-striped">
  <thead>
    <tr class="text-center">
      <th>Matricule</th>
      <th>Numéro de série</th>
      <th>Marque</th>
      <th>Type de contrat</th>
      <th>Type de l'engin</th>
      <th>Type de batterie</th>
      <th>Modifier</th>
      <th>Détails</th>
      <th>Échéancier</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let engin of enginservice.enginsListe; index as i" class="text-center">
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.Matricule}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.NumSerie}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.Marque}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.TypeContrat}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.TypeEngin}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'">{{engin.TypeBatterie}}</td>
      <td *ngIf="engin.TypeContrat=='LCD'"><button class="btn btn-transparent" (click)="populateForm(engin)"><mat-icon aria-hidden="false">edit</mat-icon></button></td>
      <td *ngIf="engin.TypeContrat=='LCD'"><button class="btn btn-transparent" (click)="detailsInfo(engin.IdEngin)" data-toggle="modal" data-target="#infoModal"><mat-icon aria-hidden="false">visibility</mat-icon></button></td>
      <td *ngIf="engin.TypeContrat=='LCD'"><button class="btn btn-transparent"><mat-icon aria-hidden="false">attach_money</mat-icon></button></td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mw-100 w-75">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="col-12 modal-title text-center font-weight-bold" id="exampleModalLabel">Détails de l'engin</h1>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h2 class="text-center">Caractéristiques</h2>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="text-center">
                    <tr>
                      <th>Matricule</th>
                      <th>NumSerie</th>
                      <th>Marque</th>
                      <th>Contrat</th>
                      <th>Type</th>
                      <th>Batterie</th>
                      <th>Année</th>
                      <th>Date déclaration entrée</th>
                      <th>Déclaré rentré ?</th>
                      <th>Date déclaration sortie</th>
                      <th>Déclaré sortie ?</th>
                    </tr>
                  </thead>
                  <tbody class="table-active">
                    <tr class="text-center">
                      <td>{{currentEnginInfo.Matricule}}</td>
                      <td>{{currentEnginInfo.NumSerie}}</td>
                      <td>{{currentEnginInfo.Marque}}</td>
                      <td>{{currentEnginInfo.TypeContrat}}</td>
                      <td>{{currentEnginInfo.TypeEngin}}</td>
                      <td>{{currentEnginInfo.TypeBatterie}}</td>
                      <td>{{currentEnginInfo.Annee}}</td>
                      <td>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}</td>
                      <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                        <td>Oui</td>
                      </ng-container>
                      <ng-template #second>
                        <td>Non</td>
                      </ng-template>
                      <td>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}</td>
                      <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                        <td>Oui</td>
                      </ng-container>
                      <ng-template #third>
                        <td>Non</td>
                      </ng-template>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <h2 class="text-center">Contrat de location</h2>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="text-center">
                    <tr>
                      <th>Numéro de contrat</th>
                      <th>Date de début</th>
                      <th>Date de fin</th>
                      <th>Durée du contrat</th>
                      <th>Lieu d'utilisation</th>
                      <th>Prestataire de location</th>
                      <th>Prix du loyer</th>
                      <th>Date de signature Irrijardin</th>
                      <th>Date de signature du prestataire</th>
                      <th>Date de circulation</th>
                    </tr>
                  </thead>
                  <tbody class="table-active" class="text-center">
                      <td>{{currentEnginContrat.NumContrat}}</td>
                      <td>{{currentEnginContrat.DateEntree | date:'dd/MM/yyyy'}}</td>
                      <td>{{currentEnginContrat.DateFinContrat | date:'dd/MM/yyyy'}}</td>
                      <td>{{currentEnginContrat.DureeContrat}}</td>
                      <td>{{currentEnginContrat.LieuUtilisation}}</td>
                      <td>{{currentEnginContrat.PrestataireLocation}}</td>
                      <td>{{currentEnginContrat.PrixLoyer}} €</td>
                      <td>{{currentEnginContrat.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}</td>
                      <td>{{currentEnginContrat.DateSignaturePrestataire | date:'dd/MM/yyyy'}}</td>
                      <td>{{currentEnginContrat.DateCirculation | date:'dd/MM/yyyy'}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>