table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
button{
    transition-duration: 0.4s;
}

#exampleModalLabel{
    margin-top: 1em;
}

#infoModal > div > div > div.modal-body > div > h2{
    margin-bottom: 1em;
    margin-top: 1em;
}
