<h1 class="text-center font-weight-bold"> Détails du contrat n° {{currentContratInfo.NumContrat}}</h1>
<h2 class="text-center font-weight-bold">Caractéristiques du contrat</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped text-center table-bordered">
            <thead class="table-irri">
                <tr>
                    <th>N° de contrat</th>
                    <th>Date d'entrée</th>
                    <th>Durée</th>
                    <th>Date de fin</th>
                    <th>Lieu d'utilisation</th>
                    <th>Prix du loyer</th>
                    <th>Date de signature Irrijardin</th>
                    <th>Prestataire</th>
                    <th>Date de signature Prestataire</th>
                    <th>Date de 1 <sup>ère</sup> circulation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{currentContratInfo.NumContrat}}</td>
                    <td>{{currentContratInfo.DateEntree | date:'dd/MM/yyyy'}}</td>
                    <td>{{currentContratInfo.DureeContrat}} mois</td>
                    <td>{{currentContratInfo.DateFinContrat | date:'dd/MM/yyyy'}}</td>
                    <td>{{currentContratInfo.LieuUtilisation}}</td>
                    <td>{{currentContratInfo.PrixLoyer}} €</td>
                    <td>{{currentContratInfo.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}</td>
                    <td>{{currentContratInfo.PrestataireLocation}}</td>
                    <td>{{currentContratInfo.DateSignaturePrestataire | date:'dd/MM/yyyy'}}</td>
                    <td>{{currentContratInfo.DateCirculation | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h2 class="text-center font-weight-bold">Caractéristiques de l'engin</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped text-center table-bordered">
            <thead class="table-irri">
                <tr>
                    <th>Matricule</th>
                    <th>NumSerie</th>
                    <th>Marque</th>
                    <th>Contrat</th>
                    <th>Type</th>
                    <th>Batterie</th>
                    <th>Date déclaration entrée (assurance)</th>
                    <th>Date déclaration sortie (assurance) </th>
                    <th>A l'arrêt ?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{currentEnginInfo.Matricule}}</td>
                    <td>{{currentEnginInfo.NumSerie}}</td>
                    <td>{{currentEnginInfo.Marque}}</td>
                    <td>{{currentEnginInfo.TypeContrat}}</td>
                    <td>{{currentEnginInfo.TypeEngin}}</td>
                    <td>{{currentEnginInfo.TypeBatterie}}</td>
                    <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                        <td>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-template #second>
                        <td>Pas de date</td>
                    </ng-template>
                    <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                        <td>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-template #third>
                        <td>Pas de date</td>
                    </ng-template>
                    <ng-container *ngIf="currentEnginInfo.EstArret==true; else fourth">
                        <td>Oui</td>
                    </ng-container>
                    <ng-template #fourth>
                        <td>Non</td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-center">
        <h2>Commentaires : </h2>
        <textarea class="form-control" readonly>{{currentContratInfo.Commentaire}}</textarea>
    </div>
</div>