<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <button class="btn btn-customcolor btn-add btn-sm" (click)="ajouterEngin()">
          <mat-icon aria-hidden="false">add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Matricule">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD'">
        {{element.Matricule}} </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="TypeEngin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de l'engin </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD'">
        {{element.TypeEngin}} </div>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="LieuUtilisation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu d'utilisation </th>

    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let contrat of contratservice.contratsListe">
        <div *ngIf="element.TypeContrat=='LLD' && element.IdContrat == contrat.IdContrat">
          {{contrat.LieuUtilisation}}</div>
      </ng-container>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="DateProchaineVgp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la prochaine VGP</th>

    <td mat-cell *matCellDef="let element">
        <div *ngIf="element.TypeContrat=='LLD'">
          {{element.DateProchaineVgp | date:'dd/MM/yyyy'}}</div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="InterventionEnCours">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intervention en cours ? </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD' && element.InterventionEnCours==true">Oui</div>
      <div *ngIf="element.TypeContrat=='LLD' && element.InterventionEnCours==false">Non</div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="EstArret">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> A l'arrêt ? </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD' && element.EstArret==true">Oui</div>
      <div *ngIf="element.TypeContrat=='LLD' && element.EstArret==false">Non</div>
    </td>
  </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="EstSortie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sortie ? </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.TypeContrat=='LLD' && element.EstSortie==true">Oui</div>
        <div *ngIf="element.TypeContrat=='LLD' && element.EstSortie==false">Non</div>
      </td>
    </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Modifier">
    <th mat-header-cell *matHeaderCellDef> Modifier </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent" (click)="populateForm(element)">
          <mat-icon aria-hidden="false">edit</mat-icon>
        </button> </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef> Détails </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent"
          (click)="detailsInfo(element.IdEngin, element.IdContrat, element.IdContratVgp)" data-toggle="modal"
          data-target="#infoModal">
          <mat-icon aria-hidden="false">visibility</mat-icon>
        </button> </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Echeancier">
    <th mat-header-cell *matHeaderCellDef> Echeancier </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let contrat of contratservice.contratsListe">
        <div *ngIf="element.TypeContrat=='LLD' && element.IdContrat == contrat.IdContrat">
          <button class="btn btn-transparent"
            (click)="echeancierModal(element.IdEngin, element.Matricule, contrat.LieuUtilisation, contrat.DateEntree, contrat.DureeContrat)">
            <mat-icon aria-hidden="false">attach_money</mat-icon>
          </button> </div>
      </ng-container>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Intervention">
    <th mat-header-cell *matHeaderCellDef> VGP </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent" (click)="addIntervention(element.IdEngin)">
          <mat-icon aria-hidden="false">build</mat-icon>
        </button> </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>


