<table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th>Matricule</th>
        <th>Marque</th>
        <th>Type de l'engin</th>
        <th>Type de batterie</th>
        <th>Date de prochaine VGP</th>
        <th>Intervention en cours</th>
        <th>Modifier</th>
        <th>Détails</th>
        <th>Échéancier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let engin of enginservice.enginsListe" class="text-center">
        <td *ngIf="engin.TypeContrat=='LLD'">{{engin.Matricule}}</td>
        <td *ngIf="engin.TypeContrat=='LLD'">{{engin.Marque}}</td>
        <td *ngIf="engin.TypeContrat=='LLD'">{{engin.TypeEngin}}</td>
        <td *ngIf="engin.TypeContrat=='LLD'">{{engin.TypeBatterie}}</td>
        <ng-container *ngFor="let contratvgp of contratvgpservice.contratsVGPListe">
          <td *ngIf="engin.TypeContrat=='LLD' && engin.IdContratVgp == contratvgp.IdContratVgp">{{contratvgp.DateProchaineVgp | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <td *ngIf="engin.TypeContrat=='LLD' && engin.InterventionEnCours==true">Oui</td>
        <td *ngIf="engin.TypeContrat=='LLD' && engin.InterventionEnCours==false">Non</td>
        <td *ngIf="engin.TypeContrat=='LLD'"><button class="btn btn-transparent" (click)="populateForm(engin)"><mat-icon aria-hidden="false">edit</mat-icon></button></td>
        <td *ngIf="engin.TypeContrat=='LLD'"><button class="btn btn-transparent" (click)="detailsInfo(engin.IdContratVgp)" data-toggle="modal" data-target="#infoModal"><mat-icon aria-hidden="false">visibility</mat-icon></button></td>
        <td *ngIf="engin.TypeContrat=='LLD'"><button class="btn btn-transparent" (click)="echeancierInfo(engin.IdEngin)" data-toggle="modal" data-target="#infoModal2"><mat-icon aria-hidden="false">attach_money</mat-icon></button></td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-80">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="col-12 modal-title text-center font-weight-bold" id="exampleModalLabel">Détails de l'engin (LLD)</h1>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <h2 class="text-center">Caractéristiques</h2>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th>Matricule</th>
                                    <th>NumSerie</th>
                                    <th>Marque</th>
                                    <th>Contrat</th>
                                    <th>Type</th>
                                    <th>Batterie</th>
                                    <th>Année</th>
                                    <th>Intervention en cours</th>
                                    <th>Date déclaration entrée</th>
                                    <th>Déclaré rentré ? (assurance)</th>
                                    <th>Date déclaration sortie</th>
                                    <th>Déclaré sortie ? (assurance)</th>
                                    <th>A l'arrêt ?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td>{{currentEnginInfo.Matricule}}</td>
                                    <td>{{currentEnginInfo.NumSerie}}</td>
                                    <td>{{currentEnginInfo.Marque}}</td>
                                    <td>{{currentEnginInfo.TypeContrat}}</td>
                                    <td>{{currentEnginInfo.TypeEngin}}</td>
                                    <td>{{currentEnginInfo.TypeBatterie}}</td>
                                    <td>{{currentEnginInfo.Annee}}</td>
                                    <ng-container *ngIf="currentEnginInfo.InterventionEnCours==true; else fourth">
                                        <td>Oui</td>
                                      </ng-container>
                                      <ng-template #fourth>
                                        <td>Non</td>
                                      </ng-template>
                                    <td>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}</td>
                                    <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                                    <td>Oui</td>
                                    </ng-container>
                                    <ng-template #second>
                                    <td>Non</td>
                                    </ng-template>
                                    <td>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}</td>
                                    <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                                    <td>Oui</td>
                                    </ng-container>
                                    <ng-template #third>
                                    <td>Non</td>
                                    </ng-template>
                                    <ng-container *ngIf="currentEnginInfo.EstArret==true; else fourth">
                                      <td>Oui</td>
                                    </ng-container>
                                    <ng-template #fourth>
                                      <td>Non</td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <h2 class="text-center">Contrat de location</h2>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="text-center table-active">
                            <tr>
                                <th>Numéro de contrat</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Durée du contrat</th>
                                <th>Lieu d'utilisation</th>
                                <th>Prestataire de location</th>
                                <th>Prix du loyer</th>
                                <th>Date de signature Irrijardin</th>
                                <th>Date de signature du prestataire</th>
                                <th>Date de 1<sup>ère</sup> circulation</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                                <td>{{currentEnginContrat.NumContrat}}</td>
                                <td>{{currentEnginContrat.DateEntree | date:'dd/MM/yyyy'}}</td>
                                <td>{{currentEnginContrat.DateFinContrat | date:'dd/MM/yyyy'}}</td>
                                <td>{{currentEnginContrat.DureeContrat}}</td>
                                <td>{{currentEnginContrat.LieuUtilisation}}</td>
                                <td>{{currentEnginContrat.PrestataireLocation}}</td>
                                <td>{{currentEnginContrat.PrixLoyer}} €</td>
                                <td>{{currentEnginContrat.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}</td>
                                <td>{{currentEnginContrat.DateSignaturePrestataire | date:'dd/MM/yyyy'}}</td>
                                <td>{{currentEnginContrat.DateCirculation | date:'dd/MM/yyyy'}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            <h2 class="text-center">Contrat de VGP</h2>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="text-center table-active">
                                <tr>
                                  <th>Date de début VGP</th>
                                  <th>Date de prochaine VGP</th>
                                  <th>Durée VGP</th>
                                  <th>Montant de la visite</th>
                                </tr>
                            </thead>
                            <tbody class="table-active" class="text-center">
                                <td>{{currentEnginContratVGP.DateDebutVgp | date:'dd/MM/yyyy' }}</td>
                                <td>{{currentEnginContratVGP.DateProchaineVgp | date:'dd/MM/yyyy' }}</td>
                                <td>{{currentEnginContratVGP.DureeVgp}}</td>
                                <td>{{currentEnginContratVGP.MontantViste}} €</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="infoModal2" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-75">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="col-12 modal-title text-center font-weight-bold" id="exampleModalLabel2">Echeancier de facturation pour l'engin {{currentEnginInfo.Matricule}}</h1>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <form #formEcheancier="ngForm" (submit)="onSubmitEcheancier(formEcheancier)">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="dateecheancier">Date</label>
                      <input type="datetime-local" id="dateecheancier" name="DateEcheancier" #DateEcheancier="ngModel" [(ngModel)]="echeancierService.formDataEcheancier.DateEcheancier" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="montant">Montant</label>
                      <input name="Montant" id="montant" #Montant="ngModel" [(ngModel)]="echeancierService.formDataEcheancier.Montant" class="form-control" placeholder="Montant" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="idengin">Id Engin</label>
                      <input name="IdEngin" id="moisecheancier" #IdEngin="ngModel" [(ngModel)]="echeancierService.formDataEcheancier.IdEngin" value="" class="form-control" placeholder="IdEngin"  required>
                    </div>
                  </div>
                  <div class="form-row">
                    <button class="form-group col-md-2 btn btn-primary" type="submit">Ajouter</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td>Date</td>
                      <td>Montant</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ech of echeanciersByIdEngin">
                      <td>{{ech.DateEcheancier | date:'MM/yyyy'}}</td>
                      <td>{{ech.Montant}} €</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>