<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <button class="btn btn-customcolor btn-add btn-sm" (click)="ajouterEngin()">
          <mat-icon aria-hidden="false">add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Matricule">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD'">
        {{element.Matricule}} </td>
    </ng-container>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="TypeEngin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de l'engin </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD'">
        {{element.TypeEngin}} </td>
    </ng-container>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="LieuUtilisation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu d'utilisation </th>

    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let contrat of contratservice.contratsListe">
    <td *ngIf="element.TypeContrat=='LLD' && element.IdContrat == contrat.IdContrat">
      {{contrat.LieuUtilisation}}</td>
  </ng-container>
  </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="DateProchaineVgp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la prochaine VGP</th>

    <td mat-cell *matCellDef="let element">
      <ng-container *ngFor="let contratvgp of contratvgpservice.contratsVGPListe">
    <td *ngIf="element.TypeContrat=='LLD' && element.IdContratVgp == contratvgp.IdContratVgp">
      {{contratvgp.DateProchaineVgp | date:'dd/MM/yyyy'}}</td>
  </ng-container>
  </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="InterventionEnCours">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intervention en cours ? </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD' && element.InterventionEnCours==true">Oui</td>
      <td *ngIf="element.TypeContrat=='LLD' && element.InterventionEnCours==false">Non</td>
    </ng-container>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="EstArret">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> A l'arrêt ? </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD' && element.EstArret==true">Oui</td>
      <td *ngIf="element.TypeContrat=='LLD' && element.EstArret==false">Non</td>
    </ng-container>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Modifier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent" (click)="populateForm(element)">
          <mat-icon aria-hidden="false">edit</mat-icon>
        </button> </td>
    </ng-container>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Détails </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent"
          (click)="detailsInfo(element.IdEngin, element.IdContrat, element.IdContratVgp)" data-toggle="modal"
          data-target="#infoModal">
          <mat-icon aria-hidden="false">visibility</mat-icon>
        </button> </td>
    </ng-container>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Echeancier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Echeancier </th>
    <ng-container mat-cell *matCellDef="let element">
      <ng-container *ngFor="let contrat of contratservice.contratsListe">
        <td *ngIf="element.TypeContrat=='LLD' && element.IdContrat == contrat.IdContrat">
          <button class="btn btn-transparent" (click)="echeancierModal(element.IdEngin, element.Matricule, contrat.LieuUtilisation, contrat.DateEntree, contrat.DureeContrat)">
            <mat-icon aria-hidden="false">attach_money</mat-icon>
          </button> </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Intervention">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intervention </th>
    <ng-container mat-cell *matCellDef="let element">
      <td *ngIf="element.TypeContrat=='LLD'">
        <button class="btn btn-transparent" (click)="addIntervention(element.IdEngin)">
          <mat-icon aria-hidden="false">build</mat-icon>
        </button> </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mw-100 w-80">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="col-12 modal-title text-center font-weight-bold" id="exampleModalLabel">Détails de l'engin (LLD)</h1>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h2 class="text-center">Caractéristiques</h2>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead class="text-center">
                  <tr>
                    <th>Matricule</th>
                    <th>NumSerie</th>
                    <th>Marque</th>
                    <th>Contrat</th>
                    <th>Type</th>
                    <th>Batterie</th>
                    <th>Intervention en cours</th>
                    <th>Date déclaration entrée (assurance)</th>
                    <th>Date déclaration sortie (assurance)</th>
                    <th>A l'arrêt ?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>{{currentEnginInfo.Matricule}}</td>
                    <td>{{currentEnginInfo.NumSerie}}</td>
                    <td>{{currentEnginInfo.Marque}}</td>
                    <td>{{currentEnginInfo.TypeContrat}}</td>
                    <td>{{currentEnginInfo.TypeEngin}}</td>
                    <td>{{currentEnginInfo.TypeBatterie}}</td>
                    <ng-container *ngIf="currentEnginInfo.InterventionEnCours==true; else fourth">
                      <td>Oui</td>
                    </ng-container>
                    <ng-template #fourth>
                      <td>Non</td>
                    </ng-template>
                    <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                      <td>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-template #second>
                      <td>Pas de date</td>
                    </ng-template>
                    <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                      <td>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}</td>
                    </ng-container>
                    <ng-template #third>
                      <td>Pas de date</td>
                    </ng-template>
                    <ng-container *ngIf="currentEnginInfo.EstArret==true; else fourth">
                      <td>Oui</td>
                    </ng-container>
                    <ng-template #fourth>
                      <td>Non</td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h2 class="text-center">Contrat de location</h2>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead class="text-center table-active">
                  <tr>
                    <th>Numéro de contrat</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Durée du contrat</th>
                    <th>Lieu d'utilisation</th>
                    <th>Prestataire de location</th>
                    <th>Prix du loyer</th>
                    <th>Date de signature Irrijardin</th>
                    <th>Date de signature du prestataire</th>
                    <th>Date de 1<sup>ère</sup> circulation</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <td>{{currentEnginContrat.NumContrat}}</td>
                  <td>{{currentEnginContrat.DateEntree | date:'dd/MM/yyyy'}}</td>
                  <td>{{currentEnginContrat.DateFinContrat | date:'dd/MM/yyyy'}}</td>
                  <td>{{currentEnginContrat.DureeContrat}} mois</td>
                  <td>{{currentEnginContrat.LieuUtilisation}}</td>
                  <td>{{currentEnginContrat.PrestataireLocation}}</td>
                  <td>{{currentEnginContrat.PrixLoyer}} €</td>
                  <td>{{currentEnginContrat.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}</td>
                  <td>{{currentEnginContrat.DateSignaturePrestataire | date:'dd/MM/yyyy'}}</td>
                  <td>{{currentEnginContrat.DateCirculation | date:'dd/MM/yyyy'}}</td>
                </tbody>
              </table>
            </div>
          </div>
          <h2 class="text-center">Contrat de VGP</h2>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead class="text-center table-active">
                  <tr>
                    <th>Date de début VGP</th>
                    <th>Date de prochaine VGP</th>
                    <th>Durée VGP</th>
                    <th>Montant de la visite</th>
                  </tr>
                </thead>
                <tbody class="table-active" class="text-center">
                  <td>{{currentEnginContratVGP.DateDebutVgp | date:'dd/MM/yyyy' }}</td>
                  <td>{{currentEnginContratVGP.DateProchaineVgp | date:'dd/MM/yyyy' }}</td>
                  <td>{{currentEnginContratVGP.DureeVgp}} mois</td>
                  <td>{{currentEnginContratVGP.MontantVisite}} €</td>
                </tbody>
              </table>
            </div>
          </div>
          <h2 class="text-center">Interventions VGP</h2>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead class="text-center table-active">
                  <tr>
                    <td>Id de l'engin</td>
                    <td>Date de l'intervention</td>
                    <td>Rapport reçu</td>
                    <td>Prestataire de vérification</td>
                    <td>Satisfait ?</td>
                    <td>Suite ?</td>
                    <td>Commentaire</td>
                  </tr>
                </thead>
                <tbody class="table-active" class="text-center">
                  <tr *ngFor="let intervention of interventionByIdEngin">
                    <td>{{intervention.IdEngin}}</td>
                    <td>{{intervention.DateIntervention}}</td>
                    <td>{{intervention.EstRapportRecu}}</td>
                    <td>{{intervention.PrestataireVerification}}</td>
                    <td>{{intervention.EstSatisfaisant}}</td>
                    <td>{{intervention.EstSuite}}</td>
                    <td>{{intervention.Commentaire}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <h2>Commentaires : </h2>
            <textarea class="form-control" readonly>{{currentEnginContrat.Commentaire}}</textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>