<div class="page-container">
    <div class="sidebar">
       <div class="sidebar-heading">
          <p><img class="text-center" src="../../assets/favicon.png" alt="">Security Park</p>
       </div>
       <div class="sidebar-body">
          <ul class="list-group rounded-0"> 
             <a routerLink="/page-1" routerLinkActive="selected" class="list-group-item align-items-center"> <i class="material-icons">agriculture</i> Engins courte durée </a> 
             <a routerLink="/page-2" routerLinkActive="selected" class="list-group-item align-items-center"> <i class="material-icons">agriculture</i> Engins longue durée </a> 
             <a routerLink="/page-3" routerLinkActive="selected" class="list-group-item align-items-center"> <i class="material-icons">receipt</i> Contrats en attente </a>
             <a routerLink="/page-4" routerLinkActive="selected" class="list-group-item align-items-center"> <i class="material-icons">admin_panel_settings</i> Administration </a> 
          </ul>
       </div>
    </div>
    <div class="page-content-container mx-auto">
       <router-outlet></router-outlet>
    </div>
 </div>