<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="NumContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de contrat </th>
        <td mat-cell *matCellDef="let element">
            <div
                *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie">
                {{element.NumContrat}} </div>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="DateEntree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'entrée </th>
        <td mat-cell *matCellDef="let element">
            <div
                *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie">
                {{element.DateEntree | date:'dd/MM/yyyy'}} </div>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DureeContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duree du contrat </th>
        <td mat-cell *matCellDef="let element">
            <div
                *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie">
                {{element.DureeContrat}} </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DateFinContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de fin de contrat </th>
        <td mat-cell *matCellDef="let element">
            <div
                *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie">
                {{element.DateFinContrat | date:'dd/MM/yyyy'}} </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Matricule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>

        <td mat-cell *matCellDef="let element">
            <ng-container *ngFor="let engin of enginservice.enginsListe">
                <div
                    *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && engin.IdContrat == element.IdContrat && element.DateSortie">
                    {{engin.Matricule}}</div>
            </ng-container>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier </th>
        <td mat-cell *matCellDef="let element">
            <div
                *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie">
                <button class="btn btn-transparent" (click)="editForm(element)">
                    <mat-icon aria-hidden="false">edit</mat-icon>
                </button> </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef> Détails </th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngFor="let engin of enginservice.enginsListe">
                <div
                    *ngIf="element.DureeContrat && element.DateFinContrat && element.DateEntree && element.LieuUtilisation && element.DateSignatureIrrijardin && element.NumContrat && element.PrestataireLocation && element.TypeEngin && element.DateSignaturePrestataire && element.DateCirculation && element.PrixLoyer && element.DateSortie && engin.IdContrat == element.IdContrat ">
                    <button class="btn btn-transparent" (click)="detailsContrat(element.IdContrat, engin.IdEngin)"
                        data-toggle="modal" data-target="#infoModal">
                        <mat-icon aria-hidden="false">visibility</mat-icon>
                    </button> </div>
            </ng-container>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-80">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="col-12 modal-title text-center font-weight-bold" id="exampleModalLabel">Détails du contrat
                </h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <h2 class="text-center">Caractéristiques</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead class="text-center">
                                    <tr>
                                        <th>N° de contrat</th>
                                        <th>Date d'entrée</th>
                                        <th>Durée</th>
                                        <th>Date de fin</th>
                                        <th>Lieu d'utilisation</th>
                                        <th>Prix du loyer</th>
                                        <th>Date de signature Irrijardin</th>
                                        <th>Prestataire</th>
                                        <th>Date de signature Prestataire</th>
                                        <th>Date de 1 <sup>ère</sup> circulation</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>{{currentContratInfo.NumContrat}}</td>
                                        <td>{{currentContratInfo.DateEntree | date:'dd/MM/yyyy'}}</td>
                                        <td>{{currentContratInfo.DureeContrat}} mois</td>
                                        <td>{{currentContratInfo.DateFinContrat | date:'dd/MM/yyyy'}}</td>
                                        <td>{{currentContratInfo.LieuUtilisation}}</td>
                                        <td>{{currentContratInfo.PrixLoyer}} €</td>
                                        <td>{{currentContratInfo.DateSignatureIrrijardin | date:'dd/MM/yyyy'}}</td>
                                        <td>{{currentContratInfo.PrestataireLocation}}</td>
                                        <td>{{currentContratInfo.DateSignaturePrestataire | date:'dd/MM/yyyy'}}</td>
                                        <td>{{currentContratInfo.DateCirculation | date:'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h2 class="text-center">Caractéristiques</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead class="text-center">
                                    <tr>
                                        <th>Matricule</th>
                                        <th>NumSerie</th>
                                        <th>Marque</th>
                                        <th>Contrat</th>
                                        <th>Type</th>
                                        <th>Batterie</th>
                                        <th>Date déclaration entrée (assurance)</th>
                                        <th>Date déclaration sortie (assurance) </th>
                                        <th>A l'arrêt ?</th>
                                    </tr>
                                </thead>
                                <tbody class="table-active">
                                    <tr class="text-center">
                                        <td>{{currentEnginInfo.Matricule}}</td>
                                        <td>{{currentEnginInfo.NumSerie}}</td>
                                        <td>{{currentEnginInfo.Marque}}</td>
                                        <td>{{currentEnginInfo.TypeContrat}}</td>
                                        <td>{{currentEnginInfo.TypeEngin}}</td>
                                        <td>{{currentEnginInfo.TypeBatterie}}</td>
                                        <ng-container *ngIf="currentEnginInfo.EstDeclareRentre==true; else second">
                                            <td>{{currentEnginInfo.DateDeclarationEntree | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        <ng-template #second>
                                            <td>Pas de date</td>
                                        </ng-template>
                                        <ng-container *ngIf="currentEnginInfo.EstDeclareSortie==true; else third">
                                            <td>{{currentEnginInfo.DateDeclarationSortie | date:'dd/MM/yyyy'}}</td>
                                        </ng-container>
                                        <ng-template #third>
                                            <td>Pas de date</td>
                                        </ng-template>
                                        <ng-container *ngIf="currentEnginInfo.EstArret==true; else fourth">
                                            <td>Oui</td>
                                        </ng-container>
                                        <ng-template #fourth>
                                            <td>Non</td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 text-center">
                            <h2>Commentaires : </h2>
                            <textarea class="form-control" readonly>{{currentContratInfo.Commentaire}}</textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>