<h1 class="text-center font-weight-bold">Réparation matricule n°{{currentEnginInfo.Matricule}}</h1>
<div class="row">
    <div class="container-fluid">
        <table class="table table-striped text-center table-bordered">
            <thead class="table-irri">
                <tr>
                    <th>Prestataire de vérification</th>
                    <th>Date du devis</th>
                    <th>Date de demande de réponse</th>
                    <th>Montant du devis</th>
                    <th>Date de validation du devis</th>
                    <th>Date des travaux</th>
                    <th>Date de facture</th>
                    <th>Montant de facture</th>
                    <th>Date de validation de facture</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rep of currentReparation">
                    <td>{{rep.PrestataireVerfifcation}}</td>
                    <td>{{rep.DateDevis | date:'dd/MM/yyyy'}}</td>
                    <td>{{rep.DateDemandeReponse | date:'dd/MM/yyyy'}}</td>
                    <td>{{rep.MontantDevis}} €</td>
                    <td>{{rep.DateValidationDevis | date:'dd/MM/yyyy'}}</td>
                    <td>{{rep.DateTravauxConformite | date:'dd/MM/yyyy'}}</td>
                    <td>{{rep.DateFacture | date:'dd/MM/yyyy'}}</td>
                    <td>{{rep.MontantFacture}} €</td>
                    <td>{{rep.DateValidationFacture | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
        <h2 class="font-weight-bold">Commentaires :</h2>
        <p *ngFor="let rep of currentReparation">Réparation du <span class="font-weight-bold">{{rep.DateDevis | date:'dd/MM/yyyy'}}</span>  : {{rep.TypeIntervention}} </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <button class="form-group btn btn-secondary" mat-button [mat-dialog-close]="true"
                type="button">Fermer</button>
        </div>
    </div>
</div>