<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="NumContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de contrat </th>
        <td mat-cell *matCellDef="let element">
            <div>
                {{element.NumContrat}} </div>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="DateEntree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'entrée </th>
        <td mat-cell *matCellDef="let element">
            <div>
                {{element.DateEntree | date:'dd/MM/yyyy'}} </div>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="DureeContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duree du contrat </th>
        <td mat-cell *matCellDef="let element">
            <div>
                {{element.DureeContrat}} </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DateFinContrat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de fin de contrat </th>
        <td mat-cell *matCellDef="let element">
            <div>
                {{element.DateFinContrat | date:'dd/MM/yyyy'}} </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Matricule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>

        <td mat-cell *matCellDef="let element">
            <ng-container *ngFor="let engin of enginservice.enginsListe">
                <div *ngIf="engin.IdContrat == element.IdContrat">
                    {{engin.Matricule}}</div>
            </ng-container>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier </th>
        <td mat-cell *matCellDef="let element">
            <div>
                <button class="btn btn-transparent" (click)="editForm(element)">
                    <mat-icon aria-hidden="false">edit</mat-icon>
                </button> </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef> Détails </th>
        <td mat-cell *matCellDef="let element">
            <div>
                <button class="btn btn-transparent" (click)="detailsContrat(element.IdContrat)" data-toggle="modal"
                    data-target="#infoModal">
                    <mat-icon aria-hidden="false">visibility</mat-icon>
                </button> </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
